<div th:fragment="loginNav">
    <nav class="navbar navbar-expand-lg bg-dark">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-flex flex-column" id="navbarNav">
                <h1 class="my-1 text-light">Welcome to Your Blog Content Management System!</h1>
            </div>
        </div>
    </nav>
</div>